.profile {
    padding: 25px;
    display: flex;
}

.profile__leftPanel {
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 25px 25px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #777777;
    margin-right: 5vw;
    height: 260px;
}

.profile__tabs {
    height: 40px;
    outline: none;
    border: none;
    margin-bottom: 25px;
    box-shadow: 0 15px 6px -6px #0b2d68;
    transition: 200ms ease-in-out;
    background: #0073b1;
    color: #ffffff;
    border-radius: 10px;
    font-size: 18px;
}

.profile__tabs:hover {
    box-shadow: 0 -10px 6px -6px #0b2d68;
    cursor: pointer;
}

.profile__tabs:active {
    box-shadow: inset 0 -5px 10px #0b2d68;
}

.profile__rightPanel{
    width: 75vw;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #777777;
}
