.scholarship__heading {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
}

.scholarship__list {
    margin: 20px auto;
    max-width: 1000px;
}

.scholarship__section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid rgba(129, 149, 165, 0.5);
    border-radius: 20px;
}

.scholarship__section:last-child {
    margin-bottom: 0;
}

.scholarship__name {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 10px;
    background: rgba(129, 149, 165, 0.5);
    border-radius: 10px;
}

.scholarship__details {
    font-family: "Lucida Sans", serif;
}

.scholarship__description {
    text-align: justify;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 22px;
}

.scholarship__amount, .scholarship__deadline {
    margin-bottom: 10px;
}

.scholarship__amount span, .scholarship__deadline span {
    font-weight: 600;
}

.scholarship__link:hover {
    text-decoration: underline;
}
